<html>
<head>
  <link rel="stylesheet" type="text/css" href='css/main.css'></style>
  <link rel="stylesheet" type="text/css" href='css/rickshaw.css'></style>
  <script type="text/javascript" src='lib/angular.js'></script>
  <script type="text/javascript" src='lib/d3.js'></script>
  <script type="text/javascript" src='lib/rickshaw.js'></script>
</head>
<body ng-app='zoosk'>
Hello, Women Who Code!

<div ng-controller='mainController'>
  <chart-directive counts=counts></chart-directive>

  <span ng-class='animal' ng-repeat='animal in animals'>
    <button ng-click='decrementAnimal(animal)'>-</button>
    <input type='text' ng-model='counts[animal]'/>
    <button ng-click='incrementAnimal(animal)'>+</button>
  </span>
</div>
<script type='text/javascript' src='js/app.js'></script>
<script type='text/javascript' src='js/controllers/mainController.js'></script>
<script type='text/javascript' src='js/directives/chartDirective.js'></script>
</body>
</html>